.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList {
  padding-bottom: 20%;
}

/* Hide scollbar for Chrome, Safari, Opera*/
.emailList::-webkit-scrollbar {
  display: none;
}

/* Hide scollbar for IE, Edge, Firefox */
.emailList {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.emailList__setting {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: #fff;
  z-index: 999;
  padding-right: 10px;
}

.emailList__settingLeft {
  margin-left: 20px;
}

.emailList__settingRight {
  margin-right: 10px;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  margin-top: 5px;
  z-index: 999;
}
